{{outlet}}

<form {{action 'saveProfile' on="submit"}}>
  <fieldset>

    <div class="reg-form">

      {{input type="text" name="email" placeholder="Email Address" value=session.currentUser.email required=true}}
      {{input type="text" name="firstName" placeholder="First Name" value=session.currentUser.firstName required=true}}
      {{input type="text" name="lastName" placeholder="Last Name" value=session.currentUser.lastName required=true}}
      {{input type="text" name="address" placeholder="Address" value=session.currentUser.address required=true}}
      {{input type="text" name="city" placeholder="City" value=session.currentUser.city required=true}}
      {{input type="text" name="zipCode" placeholder="Zip Code" value=session.currentUser.zipCode required=true}}
      {{input type="text" name="state" placeholder="State" value=session.currentUser.state required=true}}
      {{input type="text" name="phone" placeholder="Phone Number" value=session.currentUser.phone required=true}}


    <div class="reg-button">
      <button class="reg-button">Submit</button>
    </div>
  </div>
  </fieldset>
</form>
